$color--secondary: #6599fb;
$color--secondary-hover: #5280d4;

$color--success: #2CD261;
$color--success-hover: #23af50;

$color--danger: #FB6E65;
$color--danger-hover: #d45d54;

$color--outline: #2c71f0;
